* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  margin: 0;
  padding: 5px;

  background-image: url(../assets/fondo1.jpg);
}
.Logo-banda {
  padding: 20px;
  width: 150px;
  filter: contrast(10%);
}
main section {
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  background-color: black;
}
main video {
  display: flex;
  justify-content: center;
  width: 90vw;
}
footer {
  margin: 0;
  padding: 20px;
  background-color: black;
}
footer ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
footer li {
  padding: 10px;
}
footer img {
  display: flex;
  flex-direction: row;
  width: 30px;
}
footer h3,
h6 {
  text-align: center;
}
footer h6 {
  padding-top: 50px;
}
