@import "../utilities/variables";
.grid-container {
  background-color: $bg-color;
  color: grey;
  display: grid;
  justify-content: center;
  text-align: justify;
  .parrafo {
    padding: 30px;
  }
  .grid-item {
    padding: 5px;
    img {
      @extend .parrafo;
      height: auto;
      max-width: 100%;
    }
  }
}
section {
  div {
    p {
      @include margin-padding;
    }
  }
}
